@model BirthdayCard.Models.Card

@{
    ViewData["Title"] = "Thanks";
}

<h1>Birthday Card Sent</h1>

<div>
    <p>
        From: @Model.From
    </p>
    <p>
        To: @Model.To
    </p>
    <p>
        Message: @Model.Message
    </p>
</div>
